Flask
Flask-CORS
tqdm
numpy
librosa
scipy
sklearn
pydub
pandas
matplotlib
pickleshare
jupyter
seaborn
tqdm
g2p-en
git+https://github.com/linto-ai/whisper-timestamped
onnxruntime
torchaudio
matplotlib
transformers
openai-whisper==20230124